.tag-pill-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  border-radius: 9999px;
  background-color: rgba(42, 43, 45, 1);
}

.tag-pill-text {
  color: rgba(138, 180, 248, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding: 5px 10px;
  border-radius: 9999px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
  font-weight: 400;
}